<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="connectSQL" connectionString="Data Source=SYSAFPROTS06;Initial Catalog=VB_POC;User Id=sa;Password=Cl1y$ys@2021;" providerName="System.Data.SqlClient"></add>
	</connectionStrings>
	<appSettings>
		<add key="SelectProcName" value="GetClaysysDayEmployeeData" />
	</appSettings>
</configuration>